/* Overwrites the css in the drop file box */
.dropbox {
  border-radius: 8px;
  border: 1px dashed rgba(101, 114, 133, 0.6);
  width: 100%;
  background-color: var(--background-color);
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* overwrites carousel css */
.sr-only {
  display: none;
}
